.navbar{
    

            width: 100%;
            border: none;
            background-color: #0284c7;
            color: white;
            padding: 14px;
            font-size: 17px;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.3s;
        }
        #hover{
            background-color: #0369a1;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }